// colors

$primary: #004dff;
$secondary: #454545;
$light: #ffffff;
$dark: #000000;
$green: #1dc679;

// font size

$font-size-exsm: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 44px;

// font weight

$font-regular: 400;
$font-bold: 600;
$font-bolder: 700;

// margin

$margin-1: 5px;
$margin-2: 10px;
$margin-3: 20px;
$margin-4: 30px;
$margin-5: 40px;
$margin-6: 50px;

// padding

$padding-1: 20px;
$padding-2: 25px;
$padding-3: 30px;
$padding-4: 40px;
$padding-5: 50px;
$padding-6: 60px;
$padding-7: 125px;
$padding-8: 150px;
