footer {
  width: 100%;
  background-color: #f6f7f9;
  padding-top: 50px;
  padding-bottom: 50px;
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    max-width: 730px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
  }
}
